.input-field-conainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.input-field-conainer input {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #d0d0d0;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px;
    box-shadow: none;
    outline-color: #d3724f;
    outline-offset: -2px;
}
.input-field-conainer button {
    color: #545462;
    font-weight: 600;
    border: 1px solid #d0d0d0;
    border-left: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px;
    transition: 0.2s;
}
.input-field-conainer button:hover {
    color: #ffffff;
    background-color: #545462;
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

.input-field-conainer ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d0d0d0;
    opacity: 1; /* Firefox */
}

.input-field-conainer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d0d0d0;
}

.input-field-conainer ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d0d0d0;
}
